* {
  font-family: sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  flex-direction: column;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px black solid;
  padding: 5px 30px;
}

header p {
  align-self: flex-end;
}

header nav ul {
  display: flex;
  padding: 0;
  list-style: none;
}

header nav ul li {
  padding: 10px;
}

header nav ul li:not(:last-of-type) {
  border-right: 3px black solid;
}

.books-list-section,
.add-books-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: 3px black solid;
  box-shadow: 4px 4px black;
  height: 25px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.add-books {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-books input {
  width: 250px;
  border: 3px black solid;
  padding: 5px;
}

.add-books input::placeholder {
  color: black;
  font-weight: 700;
}

.add-books button {
  align-self: flex-end;
}

.add-books .author {
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-books-section hr {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 2px;
  width: 50%;
  background-color: black;
  border-radius: 50%;
}

.add-books-section h2 {
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-list {
  width: 50vw;
  padding: 0;
}

.books-list li:nth-of-type(2n+1) {
  background-color: rgb(221, 221, 221);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

footer {
  border: 3px black solid;
  padding: 5px 30px;
}
